/* 
white
#F5F0EB
#F1DABF
#C7B49F
#A38668
#423A39
*/


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App {
  font-family: Helvetica;
  text-align: center;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: Monday;
  src: local("Monday Routines"),
    local("Monday_Routines"),
    url(./fonts/Monday_Routines.woff) format("woff");
}

.App-header {
  min-height: 5vh;
  max-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #423A39;
}

.App-link {
  color: #61dafb;
}

.bannerpadding {
  padding-top: 5vh;
}

.scriptbrandfont {
  font-family: "Monday";
  font-size: 100px;
  color: #423A39;
  text-shadow: 1px 1px #F5F0EB;
}

.sectionheader {
  padding-top: 10vh;
  font-family: 'monday';
  font-size: 100px;
  color: #423A39;
  text-shadow: 1px 1px #F5F0EB;
}

.navbar {
  padding-top: 1vh;
  background-color: #F5F0EB;
}

.productimg {
  max-width: 30vh;
  max-height: 30vh;
}
.productname {
  color:#423A39;
  font-family: Helvetica;
  font-weight: bold;
}
a:hover {
  color: black;
}

.productprice {
  font-family: Helvetica;
  font-style: italic;
}

.productwidth{
  max-width: 1000px;
}