/* 
white
#F5F0EB
#F1DABF
#C7B49F
#A38668
#423A39
*/

.App {
  font-family: Helvetica;
  text-align: center;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  min-height: 5vh;
  max-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #423A39;
}

.App-link {
  color: #61dafb;
}

/* .scriptbrandfont {
  font-family: 'Monday';
} */
@font-face {
  font-family: Monday;
  src: local("Monday Routines"),
       local("Monday_Routines"),
       url(./fonts/Monday_Routines.woff) format("woff");
}

.scriptbrandfont {
  font-family: "Monday";
  font-size: 100px;
  color: #423A39;
}
