/* 
white
#F5F0EB
#F1DABF
#C7B49F
#A38668
#423A39
*/


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App {
  font-family: Helvetica, sans-serif;
  text-align: center;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: Monday;
  src: local("Monday Routines"),
    local("Monday_Routines"),
    url(./fonts/Monday_Routines.woff) format("woff");
}

@font-face {
  font-family: Waltograph;
  src: local("Waltograph"),
    local("Waltograph"),
    url(./fonts/Waltograph.woff) format("woff");
}

.App-header {
  min-height: 5vh;
  max-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #423A39;
}

.App-link {
  color: #61dafb;
}

.bannerpadding {
  padding-top: 5vh;
}

.custom-btn-viewmore {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #A38668;
  border: none;
  border-radius: 8px;
  color: white;
  margin-top: 25px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
}

.carousel {
  max-height: 60%;
  min-height: 200px;
  width: 100%;
}


.carousel-img {
  max-height: 60vh;
  min-height: 200px;
  height: 100vh;
  object-fit: cover;
}


.carousel-caption {
  top: 45%
}

.footer {
  bottom: 0;
  width: 100%;
  height: 10%;
  min-height: 100%
}

.footer-createdby {
  width: 100%;
  max-height: 10%;
  align-self: 'stretch';
  text-align: right;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
  z-index: 0;
}

.fade-enter.fade-exit-active {
  opacity: 1;
}

.no-overflow {
  overflow: hidden;
}

.navbar {
  padding-top: 1vh;
  background-color: #F5F0EB;
}

.productimg {
  opacity: 1;
  max-width: 30vh;
  max-height: 30vh;
  transition: .5s ease;
  backface-visibility: hidden;
}

.productimg:hover {
  max-width: 30vh;
  max-height: 30vh;
  cursor: pointer;
  opacity: 0.3;
}


.productname {
  opacity: 1;
  color: black;
  font-family: Helvetica;
  font-weight: bold;
  transition: .5s ease;
  backface-visibility: hidden;
}

.productname:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.3;
}

.productprice {
  font-family: Helvetica;
  font-style: italic;
}

.productwidth {
  max-width: 1000px;
}

.scriptbrandfont {
  font-family: "Monday";
  font-size: 100px;
  color: #423A39;
  text-shadow: 1px 1px #F5F0EB;
}

.sectionheader {
  padding-top: 1vh;
  font-family: 'monday';
  font-size: 100px;
  color: #423A39;
  text-shadow: 1px 1px #F5F0EB;
}

.sectionspacer {
  padding: 8vh;
}

.sectionspacer-half {
  padding: 4vh;
}

.subheader {
  padding-top: 1vh;
  font-family: 'monday';
  font-size: 70px;
  color: #423A39;
  text-shadow: 1px 1px #F5F0EB;
}

.tinted {
  filter: brightness(75%);
}